@model CargoMate.Web.FrontEnd.Models.SearchVehicleViewModels.SearchVehicleViewModel
@{
    ViewBag.Title = "Home Page";
}

@section styles{
    <style>
        ul.dd-options {
            height: 270px !important;
        }

        .dd-selected-text {
            line-height: 35px;
        }
    </style>
}

<!--banner Section start-->
<section id="search_container" style="min-height:100%">
    <div id="search">
        <div class="tab-content">
            <div class="tab-pane active" id="tab1">
                <h3>Search Vehicles</h3>

                @using (Html.BeginForm("SearchResults", "Home", FormMethod.Get))
                {

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @*@Html.LabelFor(model => model.PickUpAddress)*@
                                <label><i class="icon-globe-1"></i>PickUp Address</label>
                                @Html.EditorFor(model => model.PickUpAddress, new { htmlAttributes = new { @class = "form-control placePicker", placeholder = "Type your pickup address" } })
                                @Html.ValidationMessageFor(model => model.PickUpAddress, "", new { @class = "text-danger" })

                                @Html.HiddenFor(model => model.PickUpLocation)
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @*@Html.LabelFor(model => model.DropUpAddress)*@
                                <label><i class="icon-globe-1"></i>DropUp Address</label>
                                @Html.EditorFor(model => model.DropUpAddress, new { htmlAttributes = new { @class = "form-control placePicker", placeholder = "Type your dropup address" } })
                                @Html.ValidationMessageFor(model => model.DropUpAddress, "", new { @class = "text-danger" })

                                @Html.HiddenFor(model => model.DropUpLocation)
                            </div>
                        </div>
                    </div><!-- End row -->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group overflow-false">
                                <label>Vehicle Type</label>
                                @Html.DropDownListFor(model => model.VehicleTypeId, new SelectList(Model.VehicleTypes, "Value", "Text"), "Select Vehicle Type", new { @class = "ddslick", @min = 1 })
                                @Html.ValidationMessageFor(model => model.VehicleTypeId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group overflow-false">
                                <label>Vehicle Capacity</label>
                                @Html.DropDownListFor(model => model.CapacityId, new SelectList(Model.VehicleCapacities, "Value", "Text"), "Select Vehicle Capacity", new { @class = "ddslick", @min = 1 })
                            </div>
                        </div>

                    </div><!-- End row -->
                    <hr>
                    <button type="submit" class="btn_1 green" name="submit"><i class="icon-search"></i>Search now</button>
                }
            </div><!-- End rab -->

        </div>
    </div>
</section><!-- End hero -->
@*@Html.Partial("Partials/_Search")*@

@section scripts{
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyC88G_-I2GZl8sVDs95qoxcuqBy9_q36nQ&force=lite"></script>
    <script src="~/Scripts/Plugins/jquery.placepicker.min.js"></script>
    <script src="~/AppScripts/Home/Home.js"></script>
}


