
@model IEnumerable<CargoMate.Web.FrontEnd.Models.SearchVehicleViewModels.VehicleSearchSumeryViewModel>
@{
    ViewBag.Title = "SearchResults";
}
@using CargoMate.Web.FrontEnd.Shared
@section styles{
    <!-- Radio and check inputs -->
    <link href="~/Content/skins/square/grey.css" rel="stylesheet">

    <!-- Range slider -->
    <link href="~/Content/ion.rangeSlider.css" rel="stylesheet">
    <link href="~/Content/ion.rangeSlider.skinFlat.css" rel="stylesheet">
    <style>
        ul.add_info li {
            width: 70px;
        }

        .rating {
            margin-top: 3px !important;
        }

        p {
            margin: 0px;
            margin-bottom: 3px;
        }
    </style>
}

@*<div id="position" style="margin-top:75px;">
        <div class="container">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Lorem</a></li>
                <li>Page active</li>
            </ul>
        </div>
    </div>*@

<div class="collapse" id="collapseMap">
    <div id="map" class="map"></div>
</div><!-- End Map -->

<div class="container" style="margin-top: 95px">

    <div class="row">
        <aside class="col-lg-3 col-md-3">
            <p>
                <a class="btn_map" data-toggle="collapse" href="#collapseMap" aria-expanded="false" aria-controls="collapseMap" data-text-swap="Hide map" data-text-original="View on map">View on map</a>
            </p>
            <div id="filters_col">
                <a data-toggle="collapse" href="#collapseFilters" aria-expanded="false" aria-controls="collapseFilters" id="filters_col_bt"><i class="icon_set_1_icon-65"></i>Filters <i class="icon-plus-1 pull-right"></i></a>
                <div class="collapse" id="collapseFilters">
                    <div class="filter_type">
                        <h6>Price</h6>
                        <input type="text" id="range" name="range" value="">
                    </div>
                    <div class="filter_type">
                        <h6>Rating</h6>
                        <ul>
                            <li>
                                <label>
                                    <input type="checkbox"><span class="rating">
                                        <i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i>
                                    </span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="checkbox"><span class="rating">
                                        <i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile"></i>
                                    </span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="checkbox"><span class="rating">
                                        <i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile"></i><i class="icon-smile"></i>
                                    </span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="checkbox"><span class="rating">
                                        <i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile"></i><i class="icon-smile"></i><i class="icon-smile"></i>
                                    </span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="checkbox"><span class="rating">
                                        <i class="icon-smile voted"></i><i class="icon-smile"></i><i class="icon-smile"></i><i class="icon-smile"></i><i class="icon-smile"></i>
                                    </span>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="filter_type">
                        <h6>Facility</h6>
                        <ul>
                            <li><label><input type="checkbox">Two Drivers</label></li>
                            <li><label><input type="checkbox">Safety Box</label></li>
                            <li><label><input type="checkbox">Water Proof</label></li>
                            <li><label><input type="checkbox">Tracker</label></li>
                        </ul>
                    </div>
                </div><!--End collapse -->
            </div><!--End filters col-->
            <div class="box_style_2">
                <i class="icon_set_1_icon-57"></i>
                <h4>Need <span>Help?</span></h4>
                <a href="tel://004542344599" class="phone">+966 423 445 99</a>
                <small>Monday to Friday 9.00am - 7.30pm</small>
            </div>
        </aside><!--End aside -->
        <div class="col-lg-9 col-md-9">

            <div id="tools">

                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <div class="styled-select-filters">
                            <select name="sort_price" id="sort_price">
                                <option value="" selected>Sort by price</option>
                                <option value="lower">Lowest price</option>
                                <option value="higher">Highest price</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <div class="styled-select-filters">
                            <select name="sort_rating" id="sort_rating">
                                <option value="" selected>Sort by ranking</option>
                                <option value="lower">Lowest ranking</option>
                                <option value="higher">Highest ranking</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 hidden-xs text-right">
                        <a href="#" class="bt_filters"><i class="icon-th"></i></a> <a href="#" class="bt_filters"><i class=" icon-list"></i></a>
                    </div>

                </div>
            </div><!--/tools -->
            @foreach (var v in Model)
            {


                <div class="strip_all_tour_list wow fadeIn" data-wow-delay="0.1s">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="ribbon_3 popular"><span>@v.Year</span></div>
                            <div class="wishlist">
                                <a class="tooltip_flip tooltip-effect-1" href="javascript:void(0);">+<span class="tooltip-content-flip"><span class="tooltip-back">Add to wishlist</span></span></a>
                            </div>
                            <div class="img_list">
                                <a href="single_transfer.html">
                                    <img src="@( "../../../SystemImages/VehicleImages/" + v.Images.Select(i => i).FirstOrDefault())" alt="Image">
                                    <div class="short_info"></div>
                                </a>
                            </div>
                        </div>
                        <div class="clearfix visible-xs-block"></div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="tour_list_desc">
                                <div class="rating"><i class="icon-smile voted"></i><i class="icon-smile  voted"></i><i class="icon-smile  voted"></i><i class="icon-smile  voted"></i><i class="icon-smile"></i><small>(75)</small></div>
                                <h3><strong>@v.DriverName</strong> (@v.DriverNationality)</h3>
                                <p>Trip Types : @(v.TripeTypes == null || !v.TripeTypes.Any() ? "---" : String.Join(",", v.TripeTypes))</p>
                                <p>Fare Types : @(v.FareTypes == null || !v.FareTypes.Any() ? "---" : String.Join(",", v.FareTypes))</p>
                                <p>Payload Types : @(v.PayLoadTypes == null || !v.PayLoadTypes.Any() ? "--" : String.Join(",", v.PayLoadTypes))</p>
                                <ul class="add_info">
                                    <li>
                                        <div class="tooltip_styled tooltip-effect-4">
                                            <span class="tooltip-item"><img style="width:100%" src=" @(string.IsNullOrEmpty(v.MakeImage)?"../../../images/placeholder-image.png":@GlobalProperties.BasicDataImagesPath+"/"+v.MakeImage)" /></span>
                                            <div class="tooltip-content">
                                                <h4>@v.Make</h4>
                                                Up to 6 passengers.
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tooltip_styled tooltip-effect-4">
                                            <span class="tooltip-item"><img style="width:100%" src=" @(string.IsNullOrEmpty(v.ModelImage)?"../../../images/placeholder-image.png":@GlobalProperties.BasicDataImagesPath+"/"+v.ModelImage)" /></span>
                                            <div class="tooltip-content">
                                                <h4>@v.Model</h4>
                                                Hotel pick up or different place with an extra cost.
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tooltip_styled tooltip-effect-4">
                                            <span class="tooltip-item"><img style="width:100%;" src=" @(string.IsNullOrEmpty(v.TypeImage)? "../../../images/placeholder-image.png" : @GlobalProperties.BasicDataImagesPath+"/"+v.TypeImage)" /></span>
                                            <div class="tooltip-content">
                                                <h4>@v.Type</h4>
                                                @v.TypeDescreption
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2">
                            <div class="price_list">
                                <div>
                                    <sup>$</sup>29*<span class="normal_price_list">$79</span><small>*From/Per KM</small>
                                    <p><a href="#" class="btn_1">Details</a></p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div><!--End strip -->

            }

            <hr>

            <div class="text-center">
                <ul class="pagination">
                    <li><a href="#">Prev</a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">Next</a></li>
                </ul>
            </div><!-- end pagination-->

        </div><!-- End col lg-9 -->
    </div><!-- End row -->
</div><!-- End container -->

@section scripts{
    <script src="~/Scripts/icheck.min.js"></script>
    <script>
        jQuery(function () {
            jQuery('input').iCheck({
                checkboxClass: 'icheckbox_square-grey',
                radioClass: 'iradio_square-grey'
            });
        });
    </script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyC88G_-I2GZl8sVDs95qoxcuqBy9_q36nQ&force=lite"></script>
    <script src="~/Scripts/map_transfer.js"></script>
    <script src="~/Scripts/infobox.js"></script>
}

