@using CargoMate.Web.FrontEnd.Models
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="CargoMate, book cargo.">
    <meta name="author" content="CargoMate">
    <title>CargoMate | Home</title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="~/images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="~/images/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="~/images/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="~/images/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="~/images/apple-touch-icon-144x144-precomposed.png">
    <!-- CSS -->
    <link href="~/Content/select2.min.css" rel="stylesheet">
    <link href="~/Content/base.css" rel="stylesheet">

    <!-- SPECIFIC CSS -->
    @*<link href="~/Content/skins/square/grey.css" rel="stylesheet">*@
    <link href="~/Content/date_time_picker.css" rel="stylesheet">

    <!-- Google web fonts -->
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Gochi+Hand' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>

    <!--[if lt IE 9]>
      <script src="~/Scripts/html5shiv.min.js"></script>
      <script src="~/Scripts/respond.min.js"></script>
    <![endif]-->
    <!-- CSS COLOR -->
    @*<link id="colorreplace" rel="stylesheet" type="text/css" href="~/Content/colors/dark-blue.css">*@

    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
    @*@Styles.Render("~/Content/css")*@

    @RenderSection("styles", false)
    <link href="~/Scripts/Plugins/bootstrap-toastr/toastr.css" rel="stylesheet" />

    @Scripts.Render("~/bundles/modernizr")

</head>

<!--[if IE 7]> <body class="ie7 lt-ie8 lt-ie9 lt-ie10"> <![endif]-->
<!--[if IE 8]> <body class="ie8 lt-ie9 lt-ie10"> <![endif]-->
<!--[if IE 9]> <body class="ie9 lt-ie10"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<body dir="ltr">
    <!--[if lte IE 8]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a>.</p>
    <![endif]-->
    <div id="preloader">
        <div class="sk-spinner sk-spinner-wave">
            <div class="sk-rect1"></div>
            <div class="sk-rect2"></div>
            <div class="sk-rect3"></div>
            <div class="sk-rect4"></div>
            <div class="sk-rect5"></div>
        </div>
    </div>
    <!-- End Preload -->
    <div class="layer"></div>
    <!-- Mobile menu overlay mask -->
    <!-- Header================================================== -->
    @Html.Partial("../../Views/Shared/_Header", new LoginViewModel())
    <!-- End Header -->


    @RenderBody()

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div id="social_footer">
                        <p>© CargoMate 2017</p>
                    </div>
                </div>
            </div><!-- End row -->
        </div><!-- End container -->
    </footer><!-- End footer -->
    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)*@

    <!-- Common scripts -->
    <script src="~/Scripts/jquery-1.11.2.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/common_scripts_min.js"></script>
    <script src="~/Scripts/select2.min.js"></script>
    <script src="~/Scripts/functions.js"></script>
    <script src="~/Scripts/Plugins/bootstrap-toastr/toastr.js"></script>


    <script src="~/AppScripts/CargoMateUtilities/ajax-interceptor.js"></script>
    <script src="~/AppScripts/CargoMateUtilities/CargoMateAlerts.js"></script>
    <script src="~/AppScripts/CargoMateUtilities/RequestHandler.js"></script>
    <!-- Specific scripts -->
    <script src="~/Scripts/icheck.js"></script>
    <script>
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-grey',
            radioClass: 'iradio_square-grey'
        });
    </script>
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/bootstrap-timepicker.js"></script>


    <script>
        $('input.date-pick').datepicker('setDate', 'today');
        $('input.time-pick').timepicker({
            minuteStep: 15,
            showInpunts: false
        })
    </script>
    <script src="~/Scripts/jquery.ddslick.js"></script>
    <script>
        $("select.ddslick").each(function () {
            $(this).ddslick({
                showSelectedHTML: true
            });
        });

        $(function () {
            $('.select2').select2({
                theme: 'bootstrap',
                placeholder: '-- Select --'
            });
        });
    </script>

    <script src="https://www.gstatic.com/firebasejs/3.7.0/firebase.js"></script>
    @*<script src="https://www.gstatic.com/firebasejs/4.1.2/firebase.js"></script>*@
    <script src="https://cdn.firebase.com/libs/geofire/4.1.2/geofire.min.js"></script>

    <script src="~/AppScripts/FireBase/Configurations.js"></script>
    <script src="~/AppScripts/Customers/CustomerLogin.js"></script>
    <script src="~/AppScripts/Drivers/DriverLogIn.js"></script>

    @RenderSection("scripts", false)

</body>
</html>
