<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="CargoMate, book cargo.">
    <meta name="author" content="CargoMate">
    <title>CargoMate | Home</title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="~/images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="~/images/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="~/images/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="~/images/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="~/images/apple-touch-icon-144x144-precomposed.png">
    <!-- CSS -->
    <link href="~/Content/select2.min.css" rel="stylesheet">
    <link href="~/Content/base.css" rel="stylesheet">

    <!-- SPECIFIC CSS -->
    @*<link href="~/Content/skins/square/grey.css" rel="stylesheet">*@
    <link href="~/Content/date_time_picker.css" rel="stylesheet">

    <!-- Google web fonts -->
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Gochi+Hand' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>

    <!--[if lt IE 9]>
      <script src="~/Scripts/html5shiv.min.js"></script>
      <script src="~/Scripts/respond.min.js"></script>
    <![endif]-->
    <!-- CSS COLOR -->
    @*<link id="colorreplace" rel="stylesheet" type="text/css" href="~/Content/colors/dark-blue.css">*@

    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
    @*@Styles.Render("~/Content/css")*@

    @RenderSection("styles", false)

    @Scripts.Render("~/bundles/modernizr")

</head>

<!--[if IE 7]> <body class="ie7 lt-ie8 lt-ie9 lt-ie10"> <![endif]-->
<!--[if IE 8]> <body class="ie8 lt-ie9 lt-ie10"> <![endif]-->
<!--[if IE 9]> <body class="ie9 lt-ie10"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<body dir="ltr">
    <!--[if lte IE 8]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a>.</p>
    <![endif]-->
    <div id="preloader">
        <div class="sk-spinner sk-spinner-wave">
            <div class="sk-rect1"></div>
            <div class="sk-rect2"></div>
            <div class="sk-rect3"></div>
            <div class="sk-rect4"></div>
            <div class="sk-rect5"></div>
        </div>
    </div>
    <!-- End Preload -->
    <div class="layer"></div>
    <!-- Mobile menu overlay mask -->
    <!-- Header================================================== -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <div id="logo_home">
                        <h1><a href="#" title="Cargomate cargo transfer agency">CargoMate</a></h1>
                    </div>
                </div>
                <nav class="col-md-9 col-sm-9 col-xs-9">
                    <a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" href="javascript:void(0);"><span>Menu mobile</span></a>
                    <div class="main-menu">
                        <div id="header_menu">
                            <img src="~/images/logo_sticky.png" width="160" height="34" alt="CargoMate" data-retina="true">
                        </div>
                        <a href="#" class="open_close" id="close_in"><i class="icon_set_1_icon-77"></i></a>
                        <ul>
                            <li>
                                <a href="#">Our Services</a>
                            </li>
                            <li>
                                <a href="#">How it works</a>
                            </li>
                            <li>
                                <a href="#">About us</a>
                            </li>
                            <li>
                                <a href="#">Contact us</a>
                            </li>
                        </ul>
                    </div><!-- End main-menu -->
                    <ul id="top_tools">
                        <li id="logout_menu" class="hide">
                            <div class="dropdown dropdown-access">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <img src="~/images/avatar3.jpg" class="profile_avatar" />
                                    Muhammad Tanzil
                                </a>
                                <div class="dropdown-menu px-0">
                                    <div class="row menu-profile-header">
                                        <div class="col-xs-12">
                                            <div class="col-xs-12 col-sm-4 px-0">
                                                <div class="menu-profile-img">
                                                    <img src="~/images/avatar3.jpg" />
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-8">
                                                <div class="menu-profile-name">
                                                    <p class="text-left profile-name">Muhammad Tanzil</p>
                                                    <p class="text-left profile-email">mtanzil666@gmail.com</p>
                                                    <br />
                                                    <p class="text-left">
                                                        <button type="button" class="btn_1">My Account</button>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row menu-profile-footer">
                                        <div class="col-xs-12 text-right">
                                            <a href="#" name="logout" id="logout" class="button_drop outline">Sign out</a>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- End Dropdown access -->
                        </li>
                        <li>
                            <div class="dropdown dropdown-access">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="access_link">Sign in as member</a>
                                <div class="dropdown-menu">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 col-xs-6">
                                            <a href="#" class="bt_facebook">
                                                <i class="icon-facebook"></i>Facebook
                                            </a>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-6">
                                            <a href="#" class="bt_google">
                                                <i class="icon-google"></i>Google+
                                            </a>
                                        </div>
                                    </div>
                                    <div class="login-or">
                                        <hr class="hr-or">
                                        <span class="span-or">or</span>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="inputUsernameEmail" placeholder="Email">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                                    </div>
                                    <a id="forgot_pw" href="#">Forgot password?</a>
                                    <input type="submit" name="Sign_in" value="Sign in" id="Sign_in" class="button_drop">
                                    <a href="/home/register" name="Sign_up" id="Sign_up" class="button_drop outline">Sign up</a>
                                </div>
                            </div><!-- End Dropdown access -->
                        </li>
                        <li>
                            <div class="dropdown dropdown-access">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="access_link_driver">Sign in as driver</a>
                                <div class="dropdown-menu">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 col-xs-6">
                                            <a href="#" class="bt_facebook">
                                                <i class="icon-facebook"></i>Facebook
                                            </a>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-6">
                                            <a href="#" class="bt_google">
                                                <i class="icon-google"></i>Google+
                                            </a>
                                        </div>
                                    </div>
                                    <div class="login-or">
                                        <hr class="hr-or">
                                        <span class="span-or">or</span>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="inputUsernameEmail" placeholder="Email">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                                    </div>
                                    <a id="forgot_pw" href="#">Forgot password?</a>
                                    <input type="submit" name="Sign_in" value="Sign in" id="Sign_in" class="button_drop">
                                    <a href="/home/register" name="Sign_up" id="Sign_up" class="button_drop outline">Sign up</a>
                                </div>
                            </div><!-- End Dropdown access -->
                        </li>
                        <li>
                            <div class="dropdown dropdown-mini">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="lang_link">English</a>
                                <div class="dropdown-menu">
                                    <ul id="lang_menu">
                                        <li><a href="#">Arabic</a></li>
                                    </ul>
                                </div>
                            </div><!-- End Dropdown access -->
                        </li>
                    </ul>
                </nav>
            </div>
        </div><!-- container -->
    </header><!-- End Header -->


    @RenderBody()

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div id="social_footer">
                        <p>© CargoMate 2017</p>
                    </div>
                </div>
            </div><!-- End row -->
        </div><!-- End container -->
    </footer><!-- End footer -->
    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)*@

    <!-- Common scripts -->
    <script src="~/Scripts/jquery-1.11.2.min.js"></script>
    <script src="~/Scripts/common_scripts_min.js"></script>
    <script src="~/Scripts/select2.min.js"></script>
    <script src="~/Scripts/functions.js"></script>
    <!-- Specific scripts -->
    <script src="~/Scripts/icheck.js"></script>
    <script>
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-grey',
            radioClass: 'iradio_square-grey'
        });
    </script>
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/bootstrap-timepicker.js"></script>
    <script>
        $('input.date-pick').datepicker('setDate', 'today');
        $('input.time-pick').timepicker({
            minuteStep: 15,
            showInpunts: false
        })
    </script>
    <script src="~/Scripts/jquery.ddslick.js"></script>
    <script>
        $("select.ddslick").each(function () {
            $(this).ddslick({
                showSelectedHTML: true
            });
        });

        $(function () {
            $('.select2').select2({
                theme: 'bootstrap',
                placeholder: '-- Select --'
            });
        });
    </script>

    <script src="https://www.gstatic.com/firebasejs/4.1.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.1.2/firebase-auth.js"></script>

    @RenderSection("scripts", false)

</body>
</html>
