@model CargoMate.Web.Admin.Areas.Transporters.Models.DriverLegalDocumentsDisplayModel

<ul class="nav list-block">
    <li>
        <label>Licence Number: </label> @Model.LicenseNumber
    </li>
    <li>
        <label>Licence Expiry: </label> @Model.LicenseExpiryDate
    </li>
    <li>
        <label>Residence Number: </label> @Model.ResidenceNumber
    </li>
    <li>
        <label>Residence Expiry: </label> @Model.ResidenceExpiryDate
    </li>
    <li>
        <label>Residence Image: </label> @Model.ResidenceImage
    </li>
    <li>
        <label>Licence Image: </label> @Model.LicenseImage
    </li>
</ul>
