@using CargoMate.Web.Admin.Areas.Customers.Models
@model CargoMate.Web.Admin.Areas.Customers.Models.CustomerProfileDisplayViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "CustomerProfile";
}

@section styles{
    <link href="~/assets/pages/css/profile-2.css" type="text/css" rel="stylesheet" />
    <style>
        .nav.list-block label {
            font-weight: bold;
            width: 200px;
        }
        .nav.list-block li {
            margin-bottom: 5px;
        }
    </style>
}

<div class="page-content-wrapper">
    <div class="page-content">
        <div class="profile">
            <div class="tabbable-line tabbable-full-width">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#tab_1_1" data-toggle="tab"> Profile </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1_1">
                        <div class="row">
                            <div class="col-md-3">
                                <ul class="list-unstyled profile-nav">
                                    <li>
                                        <img src="@Model.ImageUrl" class="img-responsive pic-bordered" alt="">
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-9">
                                <div class="row">
                                    <div class="col-md-8 profile-info">
                                        <h1 class="font-green sbold uppercase">@Model.Name</h1>
                                        <p>
                                            <a href="javascript:;"> @Model.EmailAddress </a>
                                        </p>
                                        <p>
                                            <a href="javascript:;"> @Model.CompanyName </a>
                                        </p>
                                        <ul class="list-inline">
                                            <li>
                                                <i class="fa fa-phone"></i> @Model.PhoneNumber
                                            </li>
                                            <li>
                                                <i class="fa fa-globe"></i> @Model.Address
                                            </li>
                                            <li>
                                                <i class="fa fa-calendar"></i> @Model.DateOfBirth
                                            </li>
                                            <li>
                                                <i class="fa fa-user-md"></i> @Model.Gender
                                            </li>
                                            <li>
                                                <i class="fa fa-star"></i> @Model.Rating
                                            </li>
                                            <li>
                                                <i class="fa fa-star"></i> @Model.IsPhoneVerified
                                            </li>
                                            <li>
                                                <i class="fa fa-star"></i> @Model.Status
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

