@model CargoMate.Web.FrontEnd.Models.VehicleRegistrationModels.BasicInformation

<div id="login" class="login-min-height my-0 py-0">
    <div class="text-center">
        <h3 class="text-left"><i class="icon-truck-1"></i>Vehicle Information</h3>
        <p class="text-left pl-3">*Please provide valid information to get better services.</p>
    </div>
    <hr />
    <form enctype="multipart/form-data">
        <!-- Left column -->
        <div class="col-xs-12 col-sm-6 col-md-push-1 float-right-left">
            <div class="form-group">
                <label class="col-xs-12 px-0">Vehicle Type</label>
                <div class="col-xs-12 col-sm-10 px-0">
                    @Html.DropDownListFor(model => model.VehicleTypeId, new SelectList(Model.VehicleTypes, "Value", "Text"), "Please Select Vehicle Type", new { @class = "form-control select2" })
                    @Html.ValidationMessageFor(model => model.VehicleTypeId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 px-0">Vehicle Model</label>
                <div class="col-xs-12 col-sm-10 px-0">
                    @Html.DropDownListFor(model => model.VehicleModelId, new SelectList(Model.VehicleModels, "Value", "Text"), "Please Select Vehicle Model", new { @class = "form-control select2" })
                    @Html.ValidationMessageFor(model => model.VehicleModelId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 px-0">Vehicle Configuration</label>
                <div class="col-xs-12 col-sm-10 px-0">
                    @Html.DropDownListFor(model => model.VehicleConfigurationId, new SelectList(Model.VehicleConfigurations, "Value", "Text"), "Please Select Vehicle Configuration", new { @class = "form-control select2" })
                    @Html.ValidationMessageFor(model => model.VehicleConfigurationId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-12 px-0">Trip Types</label>
                <div class="col-xs-12 col-sm-10 px-0">
                    @Html.ListBoxFor(model => model.TripTypeIds, Model.TripTypes, new { @class = "form-control", multiple = "multiple", size = 4 })
                    @Html.ValidationMessageFor(model => model.TripTypeIds, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <!-- Right column -->
        <div class="col-xs-12 col-sm-6 float-right-left">

            <div class="form-group">
                <label class="col-xs-12 px-0">Vehicle Make</label>
                <div class="col-xs-12 col-sm-10 px-0">
                    @Html.DropDownListFor(model => model.VehicleMakeId, new SelectList(Model.VehicleMakes, "Value", "Text"), "Please Select Vehicle Make", new { @class = "form-control select2" })
                    @Html.ValidationMessageFor(model => model.VehicleMakeId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 px-0">Vehicle Year</label>
                <div class="col-xs-12 col-sm-10 px-0">
                    @Html.DropDownListFor(model => model.VehicleModelYearId, new SelectList(Model.VehicleModelYears, "Value", "Text"), "Please Select Vehicle Year", new { @class = "form-control select2" })
                    @Html.ValidationMessageFor(model => model.VehicleModelYearId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 px-0">Vehicle Capacity</label>
                <div class="col-xs-12 col-sm-10 px-0">
                    @Html.DropDownListFor(model => model.VehicleCapacityId, new SelectList(Model.VehicleCapacities, "Value", "Text"), "Please Select Vehicle Capacity", new { @class = "form-control select2" })
                    @Html.ValidationMessageFor(model => model.VehicleCapacityId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 px-0">Payload Types</label>
                <div class="col-xs-12 col-sm-10 px-0">
                    @Html.ListBoxFor(model => model.PayLoadTypeIds, Model.PayLoadTypes, new { @class = "form-control", multiple = "multiple", size = 4 })
                    @Html.ValidationMessageFor(model => model.PayLoadTypeIds, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>

        <div id="pass-info" class="clearfix"></div>
        <div class="col-xs-12 col-sm-11 text-right px-10">
            <button type="submit" class ="btn_1 d-inline-block"> Save Basic Info <i class="icon-angle-double-right rotate-180"></i></button>
        </div>
    </form>

</div>