@model CargoMate.Web.Admin.Areas.Administration.Models.Vehicle.VehicleModelViewModel

@{
    ViewBag.Title = "VehicleModelsList";
}

<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        @*<div class="page-head">
                <!-- BEGIN PAGE TITLE -->
                <div class="m-heading-1 border-green m-bordered">
                    <h3>
                        Vehicle
                        <small>Vehicle Managment</small>
                    </h3>
                </div>
                <!-- END PAGE TITLE -->
                <!-- BEGIN PAGE TOOLBAR -->
                <div class="page-toolbar">

                </div>
                <!-- END PAGE TOOLBAR -->
            </div>*@
        <!-- END PAGE HEAD-->
        <!-- BEGIN PAGE BASE CONTENT -->
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light bordered">
                    <div class="portlet light">
                        <div class="portlet-body">
                            <div class="table-toolbar">
                                <div class="row">
                                    <div class="portlet-body">
                                        <div class="table-toolbar">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="btn-group">
                                                        <a id="btnAddNewVehicleModel" data-toggle="modal" data-target="#modalAddNewVehicleModel" class="btn sbold green">
                                                            Add New
                                                            <i class="fa fa-plus"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="dataTables_wrapper no-footer">
                                <div class="row" id="tblVehicleModelssList">
                                    @Html.Partial("Partials/_ModelsList", Model.VehicleModelsList)
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false" id="modalAddNewVehicleModel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-equalizer font-red-sunglo"></i>
                        <span class="caption-subject font-red-sunglo bold uppercase">Vehicle Models</span>
                        <span class="caption-helper">Add Vehicle Model</span>
                    </div>
                    <div class="actions">

                    </div>
                </div>
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    @using (Ajax.BeginForm("AddVehicleModel", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "VehicleModel.callbacks.insertSuccess" }, new { id = "AddVehicleModelForm"}))
                    {
                        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                        <div class="form-horizontal">
                            <div class="form-body">
                                @Html.Partial("Partials/_AddModel", Model.VehicleModel)
                            </div>
                            <div class="row" style="margin-top: -20px">
                                <div class="col-sm-12 col-sm-offset-3">
                                    <button type="submit" name="submitButton" value="save" style="padding-left: 20px; padding-right: 20px" class="btn green">Save</button>
                                    <button type="reset" style="padding-left: 20px; padding-right: 20px" data-dismiss="modal" class="btn red">Close</button>
                                </div>
                            </div>
                        </div>
                    }
                    <!-- END FORM-->
                </div>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false" id="modalEditVehicleModel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-equalizer font-red-sunglo"></i>
                        <span class="caption-subject font-red-sunglo bold uppercase">Vehicle Models</span>
                        <span class="caption-helper">Edit Vehicle Model</span>
                    </div>
                    <div class="actions">

                    </div>
                </div>
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    @using (Ajax.BeginForm("UpdateVehiclModel", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "VehicleModel.callbacks.insertSuccess" }, new { id = "EditVehicleModelForm" }))
                    {
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-horizontal">
                            <div class="form-body" id="EditVehicleModelFormContent">
                                @Html.Partial("Partials/_AddModel", Model.VehicleModel)
                            </div>
                            <div class="row" style="margin-top: -20px">
                                <div class="col-sm-12 col-sm-offset-3">
                                    <button type="submit" name="submitButton" value="save" style="padding-left: 20px; padding-right: 20px" class="btn green">Save</button>
                                    <button type="reset" style="padding-left: 20px; padding-right: 20px" data-dismiss="modal" class="btn red">Close</button>
                                </div>
                            </div>
                        </div>
                    }
                    <!-- END FORM-->
                </div>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

@section Scripts{

    <script src="~/Areas/Administration/Scripts/PageScripts/VehicleModel.js"></script>
    <script>
        VehicleModel.initEvents();
    </script>
}