@model IEnumerable<CargoMate.Web.Admin.Areas.Administration.Models.Vehicle.MakeDisplayModel>
@{
    Layout = null;
}
<table class="table">
    <tr>
        <th>Code</th>
        <th>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VehicleType)
        </th>
        <th>Action</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            # @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            <img alt="" class="img-circle" src="../../../@item.ImageUrl" style="width: 40px;height:40px">
        </td>
        <td>
            @item.Name
        </td>
        <td>
            @item.Country
        </td>
        <td>
            @item.VehicleType
        </td>
        <td>
            <div class="btn-group">
                <button class="btn btn-sm green dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                    Actions
                    <i class="fa fa-angle-down"></i>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a href="javascript:;" class="VehicleMakeEdit" data-makeid="@item.Id">
                            <i class="fa fa-pencil-square-o yellow"></i> Edit
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" class="VehicleMakeDelete" data-makeid="@item.Id">
                            <i class="fa fa-times-circle-o red"></i> Delete
                        </a>
                    </li>
                </ul>
            </div>
        </td>
    </tr>
}

</table>
