@model CargoMate.Web.FrontEnd.Models.DriverViewModel.DriverViewModel
@{
    ViewBag.Title = "DriverDetails";
}

@section styles{
    <link href="~/Content/admin.css" rel="stylesheet">
<link href="~/Scripts/Plugins/InternationalTelephoneInput/css/intlTelInput.css" rel="stylesheet" />
    <style>
        .intl-tel-input.allow-dropdown {
            width: 100%;
        }
         #login {
             background-color: #f9f9f9;
         }

        .tabs nav a:before {
            color: #0057e7;
        }
    </style>
}

<div class="margin_60 container">
    <div id="tabs" class="tabs">
        <nav>
            <ul>
                <li><a href="#section-1" class="icon-user-1"><span>Personal Information</span></a></li>
                <li><a href="#section-2" class="icon-credit-card"><span>Licence & Residence Info</span></a></li>
                <li><a href="#section-3" class="icon-truck"><span>Vehicle Info</span></a></li>
                <li><a href="#section-4" class="icon-profile"><span>Profile</span></a></li>
            </ul>
        </nav>
        <div class="content">

            <section id="section-1">
                @Html.Partial("Partials/_DriverpersonalInfo", Model.DriverPersonalInfoFormModel)
            </section><!-- End section 1 -->

            <section id="section-2">
                @Html.Partial("Partials/_DriverLegalDocuments", Model.DriverLegalDocumentsFormModel)
            </section><!-- End section 2 -->

            <section id="section-3">
                @Html.Partial("Partials/_VehicelList",Model.VehicleDisplayModels)
            </section><!-- End section 3 -->

            <section id="section-4">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <h4>Your profile</h4>
                        <ul id="profile_summary">
                            <li>Full Name <span>@Model.DriverPersonalInfoFormModel.Name</span></li>
                            <li>Legal Name <span>@Model.DriverPersonalInfoFormModel.LegalName</span></li>
                            <li>Email Address <span>@Model.DriverPersonalInfoFormModel.EmailAddress</span></li>
                            <li>Phone number <span>@Model.DriverPersonalInfoFormModel.PhoneNumber</span></li>
                            <li>Date of birth <span>@Model.DriverPersonalInfoFormModel.DateOfBirth</span></li>
                            <li>Address <span>@Model.DriverPersonalInfoFormModel.Address</span></li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <img src="~/SystemImages/DriverImages/@Model.DriverPersonalInfoFormModel.ImageUrl" style="width: 100px;" alt="Image" class="img-circle styled profile_pic">

                    </div>
                </div><!-- End row -->

                <div class="divider"></div>
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <h4>Legal Documents</h4>
                        <ul id="profile_summary">
                            <li>Residence Number <span>@Model.DriverLegalDocumentsFormModel.ResidenceNumber</span></li>
                            <li> Residence Expirey <span>@Model.DriverLegalDocumentsFormModel.ResidenceExpiryDate</span></li>
                            <li class="divider"></li>
                            <li>Licence Number <span>@Model.DriverLegalDocumentsFormModel.LicenseNumber</span></li>
                            <li> Licence Expirey <span>@Model.DriverLegalDocumentsFormModel.LicenseExpiryDate</span></li>

                        </ul>
                    </div>    
                    <div class="col-md-6 col-sm-6">
                        <div class="row"><img src="~/SystemImages/DriverDocumentsImages/@Model.DriverLegalDocumentsFormModel.ResidenceImage" style="width: 120px;" alt="Image" class="img-responsive styled profile_pic"></div> 
                        <div class="row">  <img src="~/SystemImages/DriverDocumentsImages/@Model.DriverLegalDocumentsFormModel.LicenseImage"  style="width: 120px;" alt="Image" class="img-responsive styled profile_pic"></div>
                    </div>
                </div>
               
            </section><!-- End section 4 -->

        </div><!-- End content -->
    </div><!-- End tabs -->
</div><!-- end container -->

@section scripts{
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyC88G_-I2GZl8sVDs95qoxcuqBy9_q36nQ&force=lite"></script>
    <script src="~/Scripts/Plugins/InternationalTelephoneInput/js/intlTelInput.js"></script>
    <script src="~/Scripts/Plugins/jquery.placepicker.min.js"></script>
    <script src="~/AppScripts/Drivers/Driver.js"></script>
    <script src="~/Scripts/tabs.js"></script>
    <script>
        new CBPFWTabs(document.getElementById('tabs'));
    </script>
    <script>
        $('.wishlist_close_admin').on('click', function(c){
            $(this).parent().parent().parent().fadeOut('slow', function(c){
            });
        });
    </script>

}



